h2 Desarrollo de <br>contenidos
.brand-line-primary


.row.justify-content-center
    .col-12.col-sm-10

        .card.wow.flipInX(data-wow-delay=".4s")
            
            .card-body

                ul.list-group.list-group-flush.list.my-n3.nav-temas
                    +navTemaItem('play', 'Introducción', 'main.html#page/introduccion/')
                    +navTemaItem('1', 'Mercados', 'main.html#page/Mercados/')
                    +navTemaItem('2', 'Sectores de la economía', 'main.html#page/Sectores_De_La_Economia/')
                    +navTemaItem('3', 'La oferta exportable', 'main.html#page/La_Oferta_Exportable/')
                    +navTemaItem('4', 'Oferta exportable de Colombia', 'main.html#page/Oferta_Exportable_De_Colombia/')
                    +navTemaItem('5', 'La planeación extratégica', 'main.html#page/La_Planeacion_Extrategica/')