.container
    .header-ecored
        h1 1. ¿Qué es el mercadeo?
    .jumbotron.bg-white   
        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/lpS6sY69J1E', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .jumbotron.color-1.mt-5                       
            .row.justify-content-center.align-items-center
                .col-5
                    img.img-a(src="assets/images/pages/ilustraciones/img2.png", alt="").img-fluid 
                .col-5
                    p “El marketing es una ciencia que después de estudiar el comportamiento de los mercados (personas naturales, personas jurídicas -empresas-, y la sociedad) e identificado el nivel de competencia, permite diseñar productos, capaces de satisfacer necesidades, generar mayor valor, lograr relaciones perdurables” (Prettel, 2016).
        .jumbotron.color-2          
            .row.justify-content-center.align-items-center
                .col-5 
                    p El marketing es el arte de explorar, crear y entregar valor a un producto o servicio para satisfacer necesidades de un mercado objetivo con fines económicos.
                    p Las organizaciones deben entender que los procesos de administración de clientes, se deben ver como una función estructural, y que no afecta solo al departamento de Marketing sino a toda la organización. Si las empresas, primero piensan en productos, y luego en el mercado, están destinadas a “elaborar zapatos, y luego ver a quien le quedan”.
                .col-5   
                    img.img-a(src="assets/images/pages/ilustraciones/img3.png", alt="").img-fluid
        .jumbotron.color-1            
            p En éste sentido, el marketing debe ayudarnos a hacer desarrollos de productos importantes, con diferenciales que sean valorados por un mercado específico, con unas condiciones de precio acorde al beneficio, ubicados en los sitios preferidos por el consumidor, y permitiéndole el acceso con todos los medios de pago.
        .sub-ecored#11.mt-5
            h2 1.1 Función
        p La función principal del marketing se centra en desarrollar productos y servicios que satisfagan las expectativas de los clientes, que posean un valor agregado y diferenciador que permita el crecimiento empresarial.
        img.img-a(src="assets/images/pages/ilustraciones/img4.svg", alt="").img-fluid
        .header-arrow.my-5.py-4
            h3.text-center Así mismo, desde la función empresarial del marketing, este se encargará de:
        .row.justify-content-center.align-items-center
            .col-10
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
                    .list__txt 
                        span Recolectar y procesar la información sobre las necesidades y deseos de los consumidores (investigación de mercados, procesar esos deseos y proponer productos y servicios para satisfacerlos en cooperación con el área de producción).
            .col-10.mt-3
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
                    .list__txt 
                        span Fijar un precio adecuado a las posibilidades de los consumidores (coordinado con -finanzas y contabilidad).
            .col-10.mt-3
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
                    .list__txt 
                        span Organizar su puesta física en el mercado (distribución).
            .col-10.mt-3
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
                    .list__txt 
                        span  Comunicar a los clientes la existencia de los productos e instarlos a preferirlos a aquellos de los competidores (publicidad y ventas)” #[br] (Prettel, 2016).
        .sub-ecored#12.mt-5
            h2 1.2 ¿Qué es un mercado?
        p.mt-5 Para definir la palabra mercado, debemos tener claro desde qué punto de vista se va a contemplar. Económicamente hablando, el mercado se puede definir como el conjunto de compradores y vendedores en un lugar determinado, quienes, a través de sus interacciones, determinan el precio de un bien o servicio y lo adecúan según sean las necesidades y requerimientos.
        .sub-ecored#13.mt-5
            h2 1.3 Clasificación de los mercados
        img.img-a(src="assets/images/pages/ilustraciones/img5.svg", alt="").img-fluid
        .caja-1.mt-5
            p.text-center Desde el punto de vista geográfico
        #carousel1.carousel.slide(data-ride='carousel').mt-5
            ol.carousel-indicators
                li.active(data-target='#carousel1', data-slide-to='0')
                li(data-target='#carousel1', data-slide-to='1')
                li(data-target='#carousel1', data-slide-to='2')
                li(data-target='#carousel1', data-slide-to='3')
            .carousel-inner
                .carousel-item.active
                    img.d-block.w-100(src='assets/images/pages/ilustraciones/img6.svg', alt='0')
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/ilustraciones/img7.svg', alt='1')
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/ilustraciones/img8.svg', alt='2')
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/ilustraciones/img9.svg', alt='3')                       
                                                                            
            a.carousel-control-prev(href='#carousel1', role='button', data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
            a.carousel-control-next(href='#carousel1', role='button', data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next 
        p (González, 2016)
        .caja-2.mt-5
            p.text-center Según el tipo de consumo
        #carousel2.carousel.slide(data-ride='carousel').mt-5
            ol.carousel-indicators
                li.active(data-target='#carousel2', data-slide-to='0')
                li(data-target='#carousel2', data-slide-to='1')
                li(data-target='#carousel2', data-slide-to='2')
            .carousel-inner
                .carousel-item.active
                    img.d-block.w-100(src='assets/images/pages/ilustraciones/img10.svg', alt='0')
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/ilustraciones/img11.svg', alt='1')
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/ilustraciones/img12.svg', alt='2')                                                                          
            a.carousel-control-prev(href='#carousel2', role='button', data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
            a.carousel-control-next(href='#carousel2', role='button', data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next     
        .caja-3.mt-5
            p.text-center Según el tipo de consumo
        #carousel3.carousel.slide(data-ride='carousel').mt-5
            ol.carousel-indicators
                li.active(data-target='#carousel3', data-slide-to='0')
                li(data-target='#carousel3', data-slide-to='1')
            .carousel-inner
                .carousel-item.active
                    img.d-block.w-100(src='assets/images/pages/ilustraciones/img13.svg', alt='0')
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/ilustraciones/img14.svg', alt='1')                                                                        
            a.carousel-control-prev(href='#carousel3', role='button', data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
            a.carousel-control-next(href='#carousel3', role='button', data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next     
        .caja-4.mt-5
            p.text-center Según el tipo de demanda
        #carousel4.carousel.slide(data-ride='carousel').mt-5
            ol.carousel-indicators
                li.active(data-target='#carousel4', data-slide-to='0')
                li(data-target='#carousel4', data-slide-to='1')
                li(data-target='#carousel4', data-slide-to='2')
                li(data-target='#carousel4', data-slide-to='3')
            .carousel-inner
                .carousel-item.active
                    img.d-block.w-100(src='assets/images/pages/ilustraciones/img15.svg', alt='0')
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/ilustraciones/img16.svg', alt='1')
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/ilustraciones/img17.svg', alt='2')
                .carousel-item
                    img.d-block.w-100(src='assets/images/pages/ilustraciones/img18.svg', alt='3')                        
                                                                            
            a.carousel-control-prev(href='#carousel4', role='button', data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
            a.carousel-control-next(href='#carousel4', role='button', data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next 
        section.mt-5                                