.container
    .header-ecored
        h1 5. La planeación estratégica
    .jumbotron.bg-white   
        .sub-ecored#51.mt-5
            h2 5.1 ¿Qué es planear?
        p.mt-5 Es la etapa que forma parte del proceso administrativo mediante la cual se establecen directrices, se definen estrategias y se seleccionan las alternativas y rutas de acción, en función de objetivos y metas generales económicas, sociales y políticas, tomando en consideración los recursos reales y potenciales que permitan establecer un marco de referencia necesario para concretar programas y acciones específicas en tiempo y espacio, logrando una predicción del futuro para generar planes que puedan garantizar el éxito (Rojas y Medina, 2011).
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img60.svg", alt="").img-fluid
        .sub-ecored#52.mt-5
            h2 5.2 Ventajas de planear
        .row.justify-content-center.align-items-center
            .col-10
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
                    .list__txt 
                        span Anticiparse al futuro. 
            .col-10
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
                    .list__txt 
                        span Organizar y coordinar. 
            .col-10
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
                    .list__txt 
                        span Medir la habilidad y capacidad de los recursos disponibles. 
            .col-10
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
                    .list__txt 
                        span Identificar aspectos de relevancia para fijar planes de atención especial.
            .col-10
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
                    .list__txt 
                        span Permite un desempeño más eficiente de las personas.
            .col-10
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
                    .list__txt 
                        span Facilita la solución de problemas.
            .col-10
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
                    .list__txt 
                        span Busca el logro de objetivos y metas de las empresas.
            .col-10
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
                    .list__txt 
                        span Disminuye la incertidumbre en la toma de decisiones gerenciales.
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img61.svg", alt="").img-fluid 
        .sub-ecored#53.mt-5
            h2 5.3 Partes del proceso de planeación
        .row.justify-content-center.align-items-center
            .col-8
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
                    .list__txt 
                        span Especificar metas y objetivos.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
                    .list__txt 
                        span Elegir políticas, programas, procedimientos y prácticas para alcanzar los objetivos.
                .list
                    .list__item
                        .list__item__icon
                            img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
                    .list__txt 
                        span Determinar los objetivos y las cantidades de recursos necesarios para alcanzarlos.
            .col-2  
                img.img-a.mt-5(src="assets/images/pages/ilustraciones/img62.svg", alt="").img-fluid  
        .caja-5.mt-5
            p.text-center #[strong  Grafico del proceso de planeación] 
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img63.svg", alt="").img-fluid
        p.mt-5 Fuente: Rojas y Medina (2011).
        .sub-ecored#54.mt-5
            h2 5.4 Planes y tipos
        p.mt-5 Los planes son el resultado del proceso de planeación y pueden definirse como diseños o esquemas detallados de lo que habrá de hacerse en el futuro, y las especificaciones necesarias para realizarlos. (Limas, 2012.p. 241).
        h3.mt-5 Tipos de planes en una empresa
        p.mt-5 En una empresa, existen diferentes tipos y niveles de planes, todos ellos interrelacionados. Estos son de tres tipos: estratégicos, tácticos y operacionales. Véase figura 4.1. a continuación.
        img.img-a.mt-5(src="assets/images/pages/ilustraciones/img64.svg", alt="").img-fluid
        p.text-center.mt-3 Tipos de planes en la empresa
        p (Limas, 2012,p 241).
        p.mt-5 Se hará el enfoque en los planes estratégicos que son los que establecen los lineamientos generales de la planeación, sirviendo de base a los demás planes (táctico y operativos), son diseñados por los miembros de mayor jerarquía de la empresa y su función consiste en regir la obtención, uso y disposición de los medios necesarios para alcanzar los objetivos generales de la organización, son a largo plazo (más de 5 años) y comprenden toda la empresa. (Limas, 2012) 
        h3.mt-5 Planeación táctica 
        p.mt-3 Se refiere a la planeación de un producto o de publicidad, los cuales los hacen y coordinan los directivos de nivel medio para orientarla hacia la distribución de los recursos, además se dan a mediano plazo (entre 1 y 5 años).               
        h3.mt-5 Planeación operativa 
        p.mt-3 Es a corto plazo (menos de 1 año) y consiste en la formulación y asignación de actividades más desarrolladas que deben realizar los últimos niveles jerárquicos de la organización. Se rigen por los parámetros establecidos por la planeación táctica.
        h3.mt-5 Planeación estratégica de penetración en mercados internacionales 
        .header-arrow.my-5.py-4
            h3.text-center Para evitar riesgos en la toma de decisiones al ingresar a mercados internacionales se puede tener en cuenta lo siguiente: 
        .row.justify-content-center.mt-5
            .col-10
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img65.svg").img-fluid
                        p.card__copy 
                            span 
                                |  #[strong Capacidad física:] corresponde a lo que la empresa está en capacidad de producir, debido a que la capacidad exportable corresponde al excedente que queda después de atender el mercado interno. 
            .col-10
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img66.svg").img-fluid
                        p.card__copy 
                            span 
                                |  #[strong Capacidad administrativa:] es el talento humano encargado de lo relacionado a las operaciones del comercio internacional de la empresa.
            .col-10
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img67.svg").img-fluid
                        p.card__copy 
                            span 
                                |  #[strong Capacidad económica:] es el presupuesto asignado a la operación de comercio internacional que pueda responder a los requerimientos de la operación y a las contingencias que se puedan presentar durante esta.
            .col-10
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img68.svg").img-fluid
                        p.card__copy 
                            span 
                                |  #[strong Conciencia exportadora:] esta implica que todos los integrantes de la organización estén comprometidos con el rol que desempeñan y cómo este influye en la calidad de la operación internacional y que los miembros del departamento de comercio internacional estén enfocados en el logro de los objetivos. 
            .col-10
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img69.svg").img-fluid
                        p.card__copy 
                            span 
                                |  #[strong Preselección de mercados:] evaluar el riesgo y las condiciones económicas del país al que desea ingresar. 
            .col-10
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img70.svg").img-fluid
                        p.card__copy 
                            span 
                                |  #[strong Información general del mercado:] este aspecto incluye recoger toda la información del mercado seleccionado, para hacerlo puede acudir a diferentes fuentes tales como: internet, publicaciones, reportajes, periódicos, residentes del país y embajadas, entre otras. 
            .col-10
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img71.svg").img-fluid
                        p.card__copy 
                            span 
                                |  #[strong Condiciones de acceso al mercado:] investigar los medios y los modos de transporte, teniendo en cuenta operatividad y costos para definir cuál es el más adecuado en relación al producto. 
            .col-10
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img72.svg").img-fluid
                        p.card__copy 
                            span 
                                |  #[strong Prácticas comerciales:] definir cómo se va a manejar el producto o servicio en el país seleccionado, si se va a utilizar fuerza de ventas propia u otro mecanismo de distribución y ventas.
            .col-10
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/ilustraciones/img73.svg").img-fluid
                        p.card__copy 
                            span 
                                |  #[strong Adecuaciones del producto:] es importante respetar la cultura y las costumbres del país objetivo y con base en ello, definir si el producto debe adaptarse o modificarse, o si se puede manejar como un producto global.
        .sub-ecored#55.mt-5
            h2 5.5 Planeación estratégica de mercados.
        .row.justify-content-center.align-items-center 
            .col
                p Es un documento escrito que define y especifica las acciones necesarias para alcanzar los objetivos empresariales. Se realiza para un bien o servicio, una marca o una línea de producto. Contiene los lineamientos a desarrollar por el área de marketing en un periodo futuro y que responde al plan general o corporativo (plan estratégico gerencial de la empresa). 
            .col    
                img.img-a(src="assets/images/pages/ilustraciones/img74.svg", alt="").img-fluid 
        .row.justify-content-center.align-items-center 
            .col.mt-5
                img.img-a(src="assets/images/pages/ilustraciones/img75.svg", alt="").img-fluid 
            .col.mt-5  
                p Este incluye dos niveles: el estratégico y el táctico. En el nivel estratégico se toman decisiones para cumplir con el objetivo de marketing, están relacionadas con la definición del mercado meta, posicionamiento, ventaja competitiva y demás decisiones con base en oportunidades de mercadeo. En el nivel táctico, se especifican acciones de marketing para concretar la estrategia de mercadeo, con base en las herramientas de producto, precio, plaza y promoción. (Limas, 2012, p. 246)
        .caja-5.mt-5
            p.text-center #[strong  Este plan cuenta con la siguiente secuencia:]
        .row.justify-content-center.align-items-center.mt-5 
            .col
                .caja-6.mt-4
                    p.text-center MISION - VISION
                .caja-6.mt-4
                    p.text-center ANALISIS DE LA SITUACION ACTUAL
                .caja-6.mt-4
                    p.text-center OBJETIVOS DE MARKETING
            .col  
                .caja-7.mt-4
                    p.text-center FROMULACION DE ESTRATEGIAS
                .caja-7.mt-4
                    p.text-center PROGRAMAS DE ACCIÓN 
                .caja-7.mt-4
                    p.text-center CONTROL Y SEGUIMIENTO
        h3.mt-5 Misión 
        p Es la declaración formal y escrita que representa el credo y la identidad de la organización. Es la razón de ser de la empresa que condicionará sus actividades presentes y futuras; proporciona unidad, sentido de dirección y guía en la toma de decisiones.
        p Representa el que hacer de la entidad y responde a preguntas como ¿para qué existe? ¿cuál es su negocio? ¿cuáles son sus productos y mercados? ¿quiénes son sus clientes y con quienes están compitiendo? ¿cuáles son los deberes y derechos de sus proveedores? ¿cuáles son sus objetivos organizacionales? ¿cuál es su responsabilidad social y ambiental?
        p La misión debe ser objetiva, clara, posible, consultada, inspiradora, comprensiva y un reflejo del quehacer. (Palacios, 2009, p. 46) 
        p Definir la misión es fundamental porque encierra el que hacer de la empresa y quiénes son sus clientes actuales y potenciales.
        h3.mt-5 Visión 
        p Es lo que las empresas están proyectando alcanzar a futuro, indica la meta y debe ser expresada en términos de éxito que contagie a todos los que conforman la organización, lo cual se transmite a clientes y proveedores. Es el acto de proyectarse en el tiempo y el espacio. Debe ser amplia, retadora, posible y concreta. 
        .row.justify-content-center.align-items-center 
            .col-8
                h3.mt-5 Políticas corporativas 
                p Son principios o normas que la empresa se compromete a cumplir para dar solución a problemas y fijar restricciones en cuanto a la toma de decisiones; es importante ajustarlas permanentemente con el fin de que sean acordes a las tendencias del mercado, la economía y la industria. Para lograr una adecuada formulación de estrategias se debe: 
            .col-4 
                img.img-a(src="assets/images/pages/ilustraciones/img76.svg", alt="").img-fluid 
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Realizar un análisis de los aspectos estratégicos y los factores claves de éxito. 
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Apreciar los objetivos estratégicos y las estrategias. 
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Valorar las normas, procedimientos y regulaciones relacionadas con la actividad de la organización.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Definir y aprobar las políticas.  
        h3.mt-5 Análisis de la situación actual 
        p Es el insumo para realizar el plan de mercadeo, por lo que es el primer paso de la planeación, al momento de hacerlo, se debe efectuar un análisis interno y externo de la organización. 
        .row.justify-content-center.align-items-center 
            .col-8
                h3.mt-5 Análisis externo 
                p Inicialmente se deben identificar los factores críticos de éxito del sector al que pertenece la empresa, los cuales deben ser las variables más importantes, después se deben identificar los factores que afectan la empresa desde diferentes enfoques como:
            .col-4 
                img.img-a(src="assets/images/pages/ilustraciones/img78.svg", alt="").img-fluid 
        .list.mt-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Económico, financiero y monetario (variables económicas, entes de control, entidades y servicios financieros
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Social, cultural y demográfico.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Gubernamental, político y legal.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Competitivo: competencia actual y nueva, productos (sustitutos y complementarios).
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Infraestructura (obras físicas, transporte y servicios públicos), geográficos y ecológicos
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Tecnológico: equipos, maquinaria, nuevos materiales y Tecnologías de la Información y Comunicación.  
        h3.mt-5 Análisis interno  
        p Se debe hacer descripción de la empresa para saber cuáles son sus características y en que consiste su valor diferencial para lo que es, es importante tener en cuenta lo siguiente: 
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Mercados atendidos (geográficamente).
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Clientes o segmentos a atender.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Necesidades y expectativas a cubrir.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Tecnologías utilizadas.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Capacidad gerencial u organizacional.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Procesos estratégicos o misionales.
        p.mt-5 Después se hace análisis de recursos y potencial de la empresa identificando factores que afectan internamente a la empresa como son: 
        .list.mt-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Capacidad gerencial u organizacional
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Capacidad física y tecnológica.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Capacidad económica y financiera.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Capacidad del talento humano.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Capacidad competitiva. 
        h3.mt-5 Objetivos de marketing
        p El objetivo del marketing responde a la siguiente pregunta ¿que deseamos lograr como empresa en un periodo determinado?; y así desarrollar lo siguiente: aumentar su participación, Identificar oportunidades, posicionar su imagen, innovar o ser más competitiva.
        p.mt-3 Para formular los objetivos de mercadeo, es importante tener en cuenta lo siguiente: 
        .list.mt-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Que sean acordes y conexos con la situación de la empresa (análisis DOFA).
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Que estén sujetos a los objetivos estratégicos.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Que sean expresados en términos cuantitativos (cuánto) y delimitados para ser alcanzados en un determinado plazo (cuándo)
        p.mt-5 Los objetivos de mercadeo más usuales son: 
        .list.mt-5
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Identificar oportunidades de crecimiento en las unidades estratégicas de negocio.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Aumentar el volumen de ventas.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Posicionar la imagen de un producto o marca.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Introducir un nuevo producto al mercado.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Potenciar un producto en declive.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Establecer procesos de innovación.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Posicionamiento en el mercado.
        .list
            .list__item
                .list__item__icon
                    img.img-a(src="assets/images/pages/ilustraciones/vineta1.svg", alt="").img-fluid
            .list__txt 
                span Mejorar la competitividad.
        h3.mt-5 Formulación de estrategia
        p “El conjunto de objetivos, planes, políticas y programas que define el campo de acción de los negocios, los proveedores y la organización humana, tecnológica y económica que requiere una empresa para satisfacer a clientes, accionistas y empleados con ventajas competitivas”. Palacios (2009).




