.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Agencias reguladoras:
            | conformadas por entes fiscalizadores del Estado (Sindicatos, gremios y asociaciones de usuarios) que se encargan de regular y  ejercer autoridad sobre un área específica.
        p
            strong.mr-2 Canal de distribución:
            | camino seguido por el producto, a través de los intermediarios; va desde el productor al consumidor final.
        p
            strong.mr-2 Capacidad ociosa:
            | capacidad instalada de producción de una empresa que no se utiliza o que se subutiliza.
        p
            strong.mr-2 Ciclo de vida del producto:
            | trayectoria que sigue un producto desde su concepción hasta su eliminación de la línea. Las etapas incluyen: introducción, crecimiento, madurez y declinación.
        p
            strong.mr-2 Clientes:
            | quienes compran los productos o servicios.
        p
            strong.mr-2 Competidores:
            | otras empresas que participan en el mercado con productos y/o servicios similares.
        p
            strong.mr-2 Consumidor:
            | persona que compra productos de consumo. En mercadeo se utiliza para referirse a todo comprador.
        p
            strong.mr-2 Demanda:
            | la cantidad de bienes y servicios que son adquiridos por consumidores a diferentes precios, a de una unidad de tiempo específico.
        p
            strong.mr-2 Elasticidad de la oferta:
            | es un indicador usado en economía para expresar la capacidad de respuesta o flexibilidad de la cantidad ofertada de un producto o servicio frente a un cambio de su precio.
        p
            strong.mr-2 Entorno:
            | se puede definir como el conjunto de fuerzas directas e indirectas y controlables e incontrolables que son susceptibles de ejercer influencia, desde un ámbito microeconómico y macroeconómico, en todas sus acciones, decisiones y resultados.
        p
            strong.mr-2 #[i Know how]:
            | expresión anglosajona usada en el comercio internacional para designar los conocimientos que no son siempre académicos e incluyen técnicas, información secreta de las estrategias de la empresa, datos privados de clientes y proveedores, todo lo que sea conocimiento común de una empresa y la diferencie del resto de sus concurrentes.
        p
            strong.mr-2 Macroentorno:
            | son todos los factores externos que influyen en la empresa como son: entorno económico, entorno demográfico, entorno legal, entorno tecnológico, entorno ambiental.
        p
            strong.mr-2 Marketing:
            | conjunto de actividades destinadas a lograr, con beneficio, la satisfacción del consumidor mediante un producto o servicio.
        p
            strong.mr-2 Mercadeo internacional:
            | es la forma en que una empresa extiende sus esfuerzos para incluir mercados en el extranjero, exportando sus productos y/o servicios y adaptándose a las condiciones de la economía global.
        p
            strong.mr-2 Mercado local:
            | en el ámbito geográfico es el espacio más reducido del mercado. Hace referencia a las empresas, emprendimientos y negocios que se encuentran ubicados y desarrollan sus operaciones en veredas, municipios y departamentos.
        p
            strong.mr-2 Mercados:
            | conjunto de transacciones de procesos o intercambio de bienes o servicios entre individuos.
        p
            strong.mr-2 Mercados globales:
            | su origen no es otro que el fenómeno de la globalización. En un mundo tan avanzado como el actual, las empresas operan a nivel mundial realizando operaciones comerciales que incluye prácticamente todas las zonas del planeta. 
        p
            strong.mr-2 Mercados internacionales:
            | es un intercambio de bienes y servicios entre países, algunos compran en otro país cercano o lejano (importaciones) y otros venden bienes y servicios fuera de sus países(exportan).
        p
            strong.mr-2 Mercados nacionales:
            | este tipo de mercado extiende sus operaciones hacia los clientes potenciales en todo el país. 
        p
            strong.mr-2 Método DOFA:
            | este método de selección le permite realizar un análisis sobre problemas existentes en la organización, su función radica en la identificación de debilidades, oportunidades, fortalezas y amenazas que giran en torno al problema que se quiere solucionar. 
        p
            strong.mr-2 Oferta:
            | la cantidad ofrecida de cualquier bien o servicio, es la cantidad que los vendedores quieren y pueden vender. 
        p
            strong.mr-2 Oferta exportable:
            | cantidad de productos y servicios que están listos para exportar.                                             
        p
            strong.mr-2 Planeación estratégica:
            | es una herramienta de la dirección para obtener una ventaja real sobre sus competidores. Por lo tanto, la planeación estratégica es el proceso formal de planeación a largo plazo que se usa para definir y alcanzar objetivos organizacionales.
        p
            strong.mr-2 Planeación operativa:
            | es a corto plazo (menos de 1 año) y consiste en la formulación y asignación de actividades más desarrolladas que deben realizar los últimos niveles jerárquicos de la organización. Se rigen por los parámetros establecidos por la planeación táctica. 
        p
            strong.mr-2 Planeación táctica:
            | se refiere a la planeación de un producto o de publicidad, los cuales los hacen y coordinan los directivos de nivel medio para orientarla hacia la distribución de los recursos, además se dan a mediano plazo (1 a 5 años).
        p
            strong.mr-2 Planear:
            | es la etapa que forma parte del proceso administrativo mediante la cual se establecen directrices, se definen estrategias y se seleccionan las alternativas y rutas de acción, en función de objetivos y metas generales económicas, sociales y políticas, tomando en consideración los recursos reales y potenciales que permitan establecer un marco de referencia necesario para concretar programas y acciones específicas en tiempo y espacio, logrando una predicción lo más probable del futuro para generar planes que puedan garantizar el éxito.
        p
            strong.mr-2 Producto Interno Bruto (PIB):
            | indicador económico que refleja el valor monetario de todos los bienes y servicios finales producidos por un país o región en un determinado periodo de tiempo, normalmente un año.  
        p
            strong.mr-2 Proveedores:
            | quienes suministran los recursos para la elaboración de un producto o prestación de un servicio.
        p
            strong.mr-2 Visión:
            | es lo que las empresas están proyectando alcanzar a futuro, indica la meta y debe ser expresada en términos de éxito que contagie a todos los que conforman la organización, lo cual se transmite a clientes y proveedores. Es el acto de verse en el tiempo y el espacio. Debe ser amplia, retadora, posible y concreta. Es la identificación clara de lo que la organización quiere lograr en un tiempo determinado.                  