.container

    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white

        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th.text-center Autor, (año del documento o material),  Nombre del documento o material.
                    th.text-center Tipo de material ( Video, capítulo de libro, articulo, otro) 
                    th.text-center(style="width:150px") Enlace del Recurso o Archivo del documento o material

            tbody

            
                tr
                    td Ministerio de Comercio, Industria y Turismo, (s.f), Informe sobre los acuerdos comerciales vigentes en Colombia.
                    td Informe 
                    td 
                        a(href="https://www.mincit.gov.co/normatividad/docs/ley-1868-informe-2019.aspx#page=100&zoom=auto,-99,286", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar   
                tr
                    td Ministerio de Comercio, Industria y Turismo, (2020), perfiles económicos y comerciales por departamentos.
                    td Informe
                    td 
                        a(href="https://www.mincit.gov.co/estudios-economicos/perfiles-economicos-por-departamentos", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar
                tr
                    td Salvador Lledó Balaguer, (2013), Importancia de la dirección estratégica en la empresa.
                    td  Articulo
                    td 
                        a(href="https://www.3ciencias.com/wp-content/uploads/2013/04/4.Importancia-de-la-direcci%C3%B3n-estrat%C3%A9gica-en-la-empresa.pdf", target="_blank") <span class="fa fa-download" aria-hidden="true"></span> Descargar   
                tr
                    td Guerras y Navas, (2018), El análisis del entorno.
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=xgr7T3WMX6g", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver       
                tr
                    td Vera, (2015), Microentorno y macroentorno del marketing.
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=nCItrbLt6w8", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver
                tr
                    td Wantubi, (2015), Plan de Marketing.
                    td Video
                    td 
                        a(href="https://www.youtube.com/watch?v=uzxqP_kwhGg", target="_blank") <span class="fa fa-play" aria-hidden="true"></span> Ver